<form class="form">
  <h2>New Register</h2>
  <div class="form-group">
    <label>Placa : </label>
    <input
      type="text"
      class="form-control"
      id="placa"
      [(ngModel)]="Car.plate"
      name="placa"
      placeholder="Ingrese la placa"
    />
  </div>
  <div class="form-group">
    <label>Modelo : </label>
    <input
      type="text"
      class="form-control"
      id="modelo"
      [(ngModel)]="Car.model"
      name="modelo"
      placeholder="Inrese el modelo"
    />
  </div>
  <div class="form-group">
    <label>Marca : </label>
    <input
      type="text"
      class="form-control"
      id="marca"
      [(ngModel)]="Car.brand"
      name="marca"
      placeholder="Ingrese la marca"
    />
  </div>
  <div class="form-group">
    <label>Año : </label>
    <input
      type="text"
      class="form-control"
      id="year"
      [(ngModel)]="Car.year"
      name="year"
      placeholder="Igrese el Año"
    />
  </div>
  <div class="form-group">
    <label>Tipo : </label>
    <input
      type="text"
      class="form-control"
      id="tipo"
      [(ngModel)]="Car.type"
      name="tipo"
      placeholder="Ingrese el tipo de vehiculo"
    />
  </div>
  <div class="form-group">
    <label>Precio Base : </label>
    <input
      type="text"
      class="form-control"
      id="basePrice"
      [(ngModel)]="Car.basePrice"
      name="basePrice"
      placeholder="ingrese el precio base"
    />
  </div>
  <button  class="btn btn-outline" routerLink= "/documentos" routerLinkActive="active" >Añadir Documentos</button>
</form>
